#welcome-card {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    h1 {
        font-size: 88px;
    }
    h3 {
        font-size: var(--md-sys-typescale-headline-small-font-size);
        margin-bottom: 25px;
    }
    ion-button {
        width: 200px;
        height: 60px;
        font-size: 20px;
    }
}

ion-card {
    background-color: rgba(var(--ion-color-primary-rgb), 0.1);
}

ion-card-content {
    padding: 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    ion-card {
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    ion-card-content {
        flex: 1;
    }

    ion-card-title {
        font-size: var(--md-sys-typescale-headline-small-font-size);
        margin-bottom: 8px;
    }
    
    ion-card p {
        font-size: 15px;
    }

    ion-col {
        display: flex;
        flex-direction: column;
        ion-card {
            flex: 1;
            ion-col:first-of-type {
                font-weight: 700;
            }
            ion-col:last-of-type {
                text-align: end;
                align-items: end;
            }
        }
    }
}

.profile-title, .expense-title {
    margin-top: 64px;
}

#dark-mode-switch.toggle-checked::part(handle) {
    background-image: url('../../../../assets/icons/moon.svg');
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

#dark-mode-switch::part(handle) {
    background-image: url('../../../../assets/icons/sun.svg');
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.input-field::part(native) {
    background: transparent;
}

#info-icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.sc-ion-input-md-h:not(.legacy-input) {
    min-height: 21px !important;
}

.button-row {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    margin: 0 24px;
}

@media (max-width: 899px) {
    ion-card {
        padding: 0px !important;
    }
    #welcome-card {
        padding: 50px 0 !important;
    }
}

@media (max-width: 769px) {
    .container {
        grid-template-columns: 1fr;
    }
    ion-card {
        padding: 0 32px !important;
    }
    #welcome-card {
        padding: 50px 0 !important;
    }
}

@media (max-width: 575px) {
    .expense-title {
        margin-top: 0 !important;
    }
    ion-card {
        padding: 0px !important;
    }
    #welcome-card {
        padding: 50px 0 !important;
        h1 {
            font-size: 64px;
        }
    } 
}