ion-card {
    background-color: rgba(var(--ion-color-primary-rgb), 0.05);
}

ion-card-content {
    padding: 24px;
}

#welcome-card {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    h1 {
        font-size: 88px;
    }
    h3 {
        font-size: var(--md-sys-typescale-headline-small-font-size);
        margin-bottom: 25px;
    }
    ion-button {
        width: 200px;
        height: 60px;
        font-size: 20px;
    }
}

.intro-title {
    margin-top: 64px;
    font-size: var(--md-sys-typescale-display-medium-font-size);
    margin-left: 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    ion-card-title {
        font-size: var(--md-sys-typescale-headline-small-font-size);
        margin-bottom: 8px;
    }
    
    ion-card p {
        font-size: 15px;
    }
}

ion-card-header {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        color: var(--ion-color-light-tint);
    }
}

@media (max-width: 575px) {
    .container {
        grid-template-columns: 1fr;
    }
    .intro-title {
        margin-top: 64px;
        font-size: var(--md-sys-typescale-display-small-font-size);
        margin-left: 24px;
    }
    #welcome-card {
        padding: 25px 0;
        h1 {
            font-size: 64px;
        }
        h3 {
            font-size: var(--md-sys-typescale-headline-small-font-size);
            margin-bottom: 25px;
        }
        ion-button {
            width: 150px;
            height: 40px;
            font-size: 16px;
        }
    }
}