<ion-content class="ion-padding" [scrollEvents]="true">
  <ion-card id="welcome-card">
    <ion-card-content>
      <h1>Expense Tracker</h1>
      <h3>I definitely did not reimplement the wheel</h3>
      <ion-button shape="round" [routerLink]="'/login'">Get started</ion-button>
    </ion-card-content>
  </ion-card>

  <h1 class="intro-title">Introduction</h1>
  <div class="container">
    <ion-card>
      <ion-card-header style="height: 200px; background-color: rgb(var(--ion-color-tertiary-rgb)); border-radius: 24px;">
        <ion-icon src="../../../assets/icons/table.svg" style="width: 112px; height: 112px;"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>
          Statement
        </ion-card-title>
        <p>
          Get daily, weekly and even monthly statements of your expenses
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header style="height: 200px; background-color: rgb(var(--ion-color-tertiary-rgb)); border-radius: 24px;">
        <ion-icon src="../../../assets/icons/ocr.svg" style="width: 112px; height: 112px;"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>
          Ease of use
        </ion-card-title>
        <p>
          You can use the included OCR reader, to upload your receipts easier
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header style="height: 200px; background-color: rgb(var(--ion-color-tertiary-rgb)); border-radius: 24px;">
        <ion-icon src="../../../assets/icons/devices.svg" style="width: 112px; height: 112px;"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>
          Availability
        </ion-card-title>
        <p>
          Use either Android, iOS or web, this app is available on every major platform 
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header style="height: 200px; background-color: rgb(var(--ion-color-tertiary-rgb)); border-radius: 24px;">
        <ion-icon src="../../../assets/icons/style.svg" style="width: 112px; height: 112px;"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>
          Design
        </ion-card-title>
        <p>
          It's not just another expense tracker, it also looks good
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
