<ion-content class="ion-padding padding-navbar" [fullscreen]="true">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Welcome newcomer!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form (submit)="signUp()">
            <ion-row>
              <ion-col sizeMd="6" size="12">
                <ion-item lines="none" fill="outline" color="primary">
                  <ion-icon slot="start" name="mail-outline"></ion-icon>
                  <ion-input placeholder="Email address"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col sizeMd="6" size="12">
                <ion-item lines="none" fill="outline" color="primary">
                  <ion-icon slot="start" name="person-outline"></ion-icon>
                  <ion-input placeholder="Full name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="6" size="12">
                <ion-item lines="none" fill="outline" color="primary">
                  <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                  <ion-input placeholder="Password"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col sizeMd="6" size="12">
                <ion-item lines="none" fill="outline" color="primary">
                  <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                  <ion-input placeholder="Confirm password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-button color="primary" type="submit">Sign up</ion-button>
          </form>
          <ion-row class="not-member">
            <span>Already a member?</span>
            <a routerLink="/login">Login now</a>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

