<ion-content class="ion-padding padding-navbar" [fullscreen]="true">
    <ion-grid style="height: 100%;">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Welcome back!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form>
              <ion-item lines="none" fill="outline" color="primary">
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                <ion-input placeholder="Email address"></ion-input>
              </ion-item>
              <ion-item lines="none" fill="outline" color="primary">
                <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                <ion-input placeholder="Password"></ion-input>
              </ion-item>
              <ion-button color="primary">Login</ion-button>
            </form>
            <ion-row class="not-member">
              <span>Not a member yet?</span>
              <a routerLink="/signup">Register now</a>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>
