<ion-content [fullscreen]="true" [scrollEvents]="true" class="ion-padding" style="--padding-top: 64px;">
  <ion-card id="welcome-card">
    <ion-card-header>
      <ion-card-title>
        <h1>Expense details</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngIf="activeMonths && !loading" id="table-grid" class="ion-no-padding">
        <ion-row id="table-head">
          <ion-col size="4">
            <ion-icon class="icon-button" [class.disabled]="currentMonthIndex <= 0" name="chevron-back-outline"
             (click)="prevMonth()" color="primary"></ion-icon>
          </ion-col>
          <ion-col size="4">
            {{ months[month] }}
          </ion-col>
          <ion-col size="4">
            <ion-icon class="icon-button" [class.disabled]="currentMonthIndex >= activeMonths.length-1" name="chevron-forward-outline"
             (click)="nextMonth()" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="expense && !loading" class="ion-justify-content-center ion-align-items-center table-summary" [@slideInOut]="currentMonthIndex">
          <ion-col size="4">
            <span>Number of guests: <strong>{{expense.guests ? expense.guests.length : 0}}</strong></span>
          </ion-col>
          <ion-col size="4">
            <span *ngIf="expense.guests" id="guest-names"><strong>Name(s) of guest(s)</strong></span>
            <span *ngIf="!expense.guests"><strong>There are no guests.</strong></span>
            <ion-popover *ngIf="expense.guests" id="names-popover" mode="ios" trigger="guest-names" triggerAction="hover">
              <ng-template>
                <ion-content class="ion-padding">
                  <ion-list mode="ios" style="margin: 0" inset="true" lines="full">
                    <ion-item *ngFor="let guest of expense.guests">
                      <ion-label style="text-align: center;">{{ guest.fullName }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-col>
          <ion-col size="4">
            <ion-button id="add-button" shape="round" fill="clear" color="tertiary" style="font-weight: 700;">
              <ion-icon name="person-add"></ion-icon>
              <span style="margin-left: 5px;">Add guest</span>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="expense && !loading" class="ion-padding-vertical table-summary" [@slideInOut]="currentMonthIndex">
          <ion-col>
            <span>Total money spent: <strong>{{expense.summary.spent}}</strong></span>
          </ion-col>
          <ion-col>
            <span>Stores visited: <strong>{{expense.summary.storeCount}}</strong></span>
          </ion-col>
          <ion-col>
            <span>Transactions completed: <strong>{{expense.summary.transactionCount}}</strong></span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="expense && !loading" id="table-body" [@slideInOut]="currentMonthIndex">
          <ion-col class="ion-no-padding">
            <ion-row>
              <ion-col size="4">Store</ion-col>
              <ion-col size="4">Amount (Ft)</ion-col>
              <ion-col size="4">Date</ion-col>
            </ion-row>
            <ion-row *ngFor="let transaction of expense.transactions">
              <ion-col size="4">{{transaction.storeName}}</ion-col>
              <ion-col size="4">{{transaction.amount}}</ion-col>
              <ion-col size="4">{{transaction.timestamp}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!expense && !loading" class="ion-justify-content-center ion-align-items-center" style="height: 48px;">
          <h3>
            There are no expenses recorded.
          </h3>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
