<ion-content [fullscreen]="true" [scrollEvents]="true" class="ion-padding" style="--padding-top: 64px;">
  <ion-card id="welcome-card">
    <ion-card-header>
      <ion-card-title>
        <h1>Expense details</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <div class="table-wrapper">
        <table class="details-table" *ngIf="expense">
          <thead>
            <tr>
              <th>
                <ion-icon class="icon-button" [class.disabled]="currentMonthIndex <= 0" name="chevron-back-outline"
                 (click)="prevMonth()" color="primary"></ion-icon>
              </th>
              <th>
                {{ months[month] }}
              </th>
              <th>
                <ion-icon class="icon-button" [class.disabled]="currentMonthIndex >= activeMonths.length-1" name="chevron-forward-outline"
                 (click)="nextMonth()" color="primary"></ion-icon>
              </th>
            </tr>
            <tr>
              <td>Total money spent: <strong>{{expense.summary.spent}}</strong></td>
              <td>Stores visited: <strong>{{expense.summary.storeCount}}</strong></td>
              <td>Transactions completed: <strong>{{expense.summary.transactionCount}}</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Store</th>
              <th>Amount (Ft)</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let transaction of expense.transactions">
              <td>{{transaction.storeName}}</td>
              <td>{{transaction.amount}}</td>
              <td>{{transaction.timestamp}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <ion-grid *ngIf="expense" id="table-grid" class="ion-no-padding">
        <ion-row id="table-head">
          <ion-col size="4">
            <ion-icon class="icon-button" [class.disabled]="currentMonthIndex <= 0" name="chevron-back-outline"
             (click)="prevMonth()" color="primary"></ion-icon>
          </ion-col>
          <ion-col size="4">
            {{ months[month] }}
          </ion-col>
          <ion-col size="4">
            <ion-icon class="icon-button" [class.disabled]="currentMonthIndex >= activeMonths.length-1" name="chevron-forward-outline"
             (click)="nextMonth()" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row id="table-summary" class="ion-padding-vertical">
          <ion-col>
            <span>Total money spent: <strong>{{expense.summary.spent}}</strong></span>
          </ion-col>
          <ion-col>
            <span>Stores visited: <strong>{{expense.summary.storeCount}}</strong></span>
          </ion-col>
          <ion-col>
            <span>Transactions completed: <strong>{{expense.summary.transactionCount}}</strong></span>
          </ion-col>
        </ion-row>
        <ion-row id="table-body">
          <ion-col class="ion-no-padding">
            <ion-row>
              <ion-col size="4">Store</ion-col>
              <ion-col size="4">Amount (Ft)</ion-col>
              <ion-col size="4">Date</ion-col>
            </ion-row>
            <ion-row *ngFor="let transaction of expense.transactions">
              <ion-col size="4">{{transaction.storeName}}</ion-col>
              <ion-col size="4">{{transaction.amount}}</ion-col>
              <ion-col size="4">{{transaction.timestamp}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <h3 *ngIf="!expense">
          There are no expenses recorded.
        </h3>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
