.nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 128px 16px 0 16px;
    width: 90px;
    background-color: rgba(var(--ion-color-tertiary-rgb), 0.05);
}

.tab-bar {
    height: 57px;
    background: rgba(var(--ion-color-tertiary-rgb), 0.05);
}

ion-icon {
    width: 32px;
    height: 32px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--ion-color-dark);
    user-select: none;
}

@media (max-width: 575px) {
    .nav-button {
        width: 48px;
    }
}

.nav-button:hover {
    .icon-wrapper {
        background: rgba(var(--ion-color-tertiary-shade-rgb), 0.05);
    }
}

.icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.ripple {
    color: var(--ion-color-tertiary-tint);
}

.text {
    text-align: center;
}

.active {
    background: var(--ion-color-tertiary-tint) !important;
}