<ion-col class="nav-container">
  <div class="nav-button ion-activatable">
    <div class="icon-wrapper  ripple-parent">
      <ion-icon name="add"></ion-icon>
      <ion-ripple-effect type="unbounded" class="ripple"></ion-ripple-effect>
    </div>
    <small class="text">Add</small>
  </div>
  <div class="nav-button ion-activatable">
    <div class="icon-wrapper  ripple-parent">
      <ion-icon name="add"></ion-icon>
      <ion-ripple-effect type="unbounded" class="ripple"></ion-ripple-effect>
    </div>
    <small class="text">Add</small>
  </div>
  <div class="nav-button ion-activatable">
    <div class="icon-wrapper  ripple-parent">
      <ion-icon name="add"></ion-icon>
      <ion-ripple-effect type="unbounded" class="ripple"></ion-ripple-effect>
    </div>
    <small class="text">Add</small>
  </div>
</ion-col>
